.order-empty-headings {
    color: #1e293b;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 500;
}

@media screen and (max-width: 767px) {
    .order-empty-headings {
        font-size: 20px;
    }
}

.order-cart-item {
    width: 30px;
    height: 10px;
    border-radius: 2px;
}

.order-cart-title {
    font-size: 36px;
}
