.wholebody {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.payment-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 400px;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 5px 12px -2px rgba(0, 0, 0, 0.1), 0 18px 36px -6px rgba(0, 0, 0, 0.1);
}

.payment-container .title {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.payment-container form input {
    display: none;
}

.payment-container form .category {
    margin-top: 10px;
    padding-top: 20px;
}

.category label {
    width: 100%;
    height: 65px;
    padding: 20px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
}

label:nth-child(2),
label:nth-child(3) {
    margin: 15px 0;
}

#upi:checked~.category .upiMethod,
#cards:checked~.category .cardsMethod,
#net:checked~.category .netMethod,
#cod:checked~.category .codMethod {
    box-shadow: 0px 0px 0px 1px #6064b6;
}

#upi:checked~.category .upiMethod .check,
#cards:checked~.category .cardsMethod .check,
#net:checked~.category .netMethod .check,
#cod:checked~.category .codMethod .check {
    display: block;
}

label .imgName {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imgName span {
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.imgName .imgpayment-container {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 50px;
    height: auto;
}

.upi img {
    max-height: 50px;
    width: 80px;
    margin-left: 5px;
}

.cards img {
    width: 65px;
}

.net img {
    width: 80px;
}

.cod img {
    width: 50px;
}

.check {
    display: none;
    position: absolute;
    top: -4px;
    right: -4px;
}

.check i {
    font-size: 18px;
}

.submitBtn {
    margin-top: 25px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    padding: 9px 0;
    border-radius: 6px;
    border: none;
    background: #6e93f7;
}

.submitBtn:hover {
    background: #3a69ea;
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 1px #000000;
}


/*------------------------------------------------------------------------*/

.view {
    background: url(https://i.ibb.co/KbC8PyR/bg.png) no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 90vh;
    overflow: hidden;
    width: 100%;
}

.container-donepayment {
    margin: auto;
    text-align: center;
    color: white;
}

.highlight {
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(255, 237, 36, 0.8);
}

.cont-button {
    padding: 10px 20px;
    background-color: #6064b6;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.cont-button:hover {
    background-color: #6e93f7;
}

.wrap {
    position: absolute;
    height: 150px;
    bottom: 100px;
    left: 0;
    width: 100%;
}

.image {
    width: 150px;
    position: absolute;
}

.truck-img {
    bottom: 0;
    left: -150px;
    z-index: 2;
    animation: truck 10s linear infinite;
}

@keyframes truck {
    40%,
    70% {
        left: 60%;
    }
    100% {
        left: 100%;
    }
}

.box-img {
    width: 35px;
    z-index: 1;
    top: 55%;
    left: 60%;
    opacity: 0;
    animation: box 10s linear infinite;
}

.box-img2 {
    animation-delay: 1s;
}

@keyframes box {
    0%,
    40% {
        opacity: 0;
        left: 55%;
    }
    50% {
        opacity: 1;
        left: 60%;
    }
    60%,
    100% {
        opacity: 0;
        left: 60%;
    }
}